body {
    text-align: center;
   background-color: rgb(16, 18, 16); 
}
.kart {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:xx-large;
color: #86cdf1;
margin: 10px;
}
img{
width:300px;
height: 300px;
margin-top: 20px;
border-radius: 10px;
border-color: antiquewhite;

}
.nini{
    margin: 50px;
    font-size: 24px;
    size: 14px;
    border-style: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    
}
    

