body {
    text-align: center;
   background-color: rgb(1, 1, 4); 
}
.kart {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:xx-large;
color: #86cdf1;
margin: 10px;
}
img{
width:300px;
height: 300px;
margin-top: 20px;
border-radius: 10px;
border-color: antiquewhite;

}
.nini{
    margin:20px;
    font-size: 24px;
    size: 14px;
    border-style: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 15px;
    color: rgb(65, 65, 248);
    line-height: 1.5em;

}

.addres{
    margin: 20px;
    font-size: 24px;
    size: 14px;
    border-style: groove;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    color: #5fcf23;
    line-height: 1.5em;

}
    .tel{
        font-size: 24px;
        size: 14px;
        border-style: solid;
        border-color: aqua;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 15px;
        color: #5072fb;
        margin: 5px;
        line-height: 1.5em;

    }

