body {
    text-align: center;
   background-color: rgb(16, 18, 16); 
}
.kart {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:xx-large;
color: #b3ef32;
margin: 10px;
}
img{
width:300px;
height: 300px;
margin-top: 20px;
border-radius: 10px;
border-color: antiquewhite;

}
    

